.logo{
	width: 30%;
	height: 30%;
}
.search-button{
    background-color: pink;
    border-radius: 10px;
    color: grey;
}

.sell-button{
    background-color: pink;
    border-radius: 10px;
    color: grey;
}
.text{
	font-size: 30px;
	padding-left: 270px;
    color: white;
    padding-top: 15px;
    }
.cartt{
	margin-left: 200px;
    padding-top: 17px;
}
.containerr{
	padding-top: 10px;
    background-color: #1976D2;

}
.product-container-parent{
    margin-left: 40px;
}
.product-container{
	border: 2px solid grey;
	text-align: center;
	margin-bottom: 30px;
}
.product-container{
	height: 290px;
}
.imgg{
	padding: 30px 0 20px 0;
}
.pagination{
	padding-left: 40px;
}
body{
	overflow-x: hidden;
}
 .Table
    {
        display: table;
    }
    .Heading
    {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }
    .Row
    {
        display: table-row;
    }
    .Cell
    {
        display: table-cell;
        border: solid;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
    }
    #address{
    	height: 100px;
    	text-align: top;
    }
    .modal-title{
    	text-align: center;
    }
    .tble{
    	width: 550px;
    }
    .pay-button{
    	margin-left: 30px;
    }
    .order-place{
    	text-align: center;
    }
    .order-place{
    	margin-top: 50px;
    	margin-bottom: 50px;
    }
    .search-box-conatiner{
        margin-top: 10px;
    }
    .search-sell-button{
        margin-top: 5px;
    }
    .sold{
        padding-top: 5px;
    }
    .sold-byy{
        margin-top: 30px
    }
    .quantity{
        padding-top: 20px;
    }
    .size{
        padding-top: 20px;
    }
    .price{
        padding-top: 50px;
    }
    .headers{
        padding-top: 40px;
        padding-right: 0px;
    }
    .content{
        padding-top: 65px;
        font-size: 18px;
    }
    .description{
        padding-top: 20px;
    }
.second-section{
	height: 50px;
	width: 1400px;
	margin-top: 0px;
}
.menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.page-content{
background: url("https://s-media-cache-ak0.pinimg.com/originals/02/e1/b8/02e1b8bd40491ceb35b42665b8385fc4.jpg");
background-size: cover;
height: 528px;
}
.page-heading{
    margin-top: 64px;
    text-align: center;
    font-size: 48px;
}
.page-description{
    margin-top: 48px;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: black;
    padding-left: 20%;
}

input[name=search ] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[name=search]:focus {
    width: 100%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.add{
	    width: 200px;
    margin-right: 199px;
}
.choose{
	margin: 20px 0px;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
      height: 500px;
      padding-bottom: 20px;
  }

.img-carousel{
	margin-bottom: 30px;
    background: url("https://static.pexels.com/photos/195884/pexels-photo-195884.jpeg");
    margin-left: 0;
    margin-right: 0;
    width: 1300px;
}
.contact-section{
    text-align: center;
}
.sub-heading{
    margin-top: 32px;
    font-size: 28px;
}
.contact-desc{
    margin-top: 16px;
    font-size: 20px;
    color: #616161;
}
.page-heading{
    margin-top: 30px;
}

.icon-container{
    margin-top: 24px;
    padding-left: 40px;
}
.map-section{
    text-align: center;
}
.twitter{
    padding-left: 0px;
    padding-right: 50px;
    padding-top: 5px;
}
#map{
    margin-left: 10%;
    margin-top: 32px;
    height: 300px;
    width: 300px;
    background: grey;
    display: block;
}
#name-heading{
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 65px;
    padding-top: 30px;
}
#img-product{
    padding-left: 120px;
    padding-top: 50px;
}





@media(max-width: 414px)
{
	.text{
		text-align: center;
		font-size: 15px;
		padding-top: 5px;
        padding-left: 10px;
	}
	body{
		overflow-x: hidden;
        overflow-y: hidden;
	}
	.cartt{
		margin-left: 30px;
		height: 10px;
        padding-top: 0px
	}
    .lines{
        width: 30px;
        padding-left: 10px;
        height: 20px;
        padding-top: 10px;
    }
    .search-box-conatiner{
        width: 180px;
    }
	.search-box{
		margin-top: 7px;
        padding-left: 5px;
        margin-left: 15px;
	}
    .search-sell-button{
        margin-top: 17px;
    }
    .logo-myntra{
        padding-top: 5px;
    }
    .img-carousel
    {   
        margin-right: 0px;
        padding-top: 20px;
        width: 330px;
        height: 200px;
        margin-left: 7px;
    }
    .carousel-inner > .item > img
    {
        width: 210px;
        height: 150px;
    }
    .carousel-indicators
    {
        margin-bottom: 0px;
    }
    .page-content{
        height: 550px;
    }
    .page-heading{
        margin-top: 15px;  
        padding-right: 40px; 
        padding-left: 0px;
    }
    .page-description{
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 40px;
        height: 200px;
        width: 380px;
        font-size: 10px;
    }
    .contact-section{
        padding-left: 0;
        width: 365px;
    }
    .sub-heading{
        padding-left: 0px;
        width: 315px;
        padding-right: 0px;
    }
    .twitter{
        width: 350px;
    }
    .facebook{
        padding-left: 0;
        width: 315px;
    }
    .contact-desc{
        padding-left: 40px;
        padding-right: 0px;
        width: 300px;
    }
    .map-section{
        padding-left: 0px;
        padding-right: 0px;
        width: 230px;
    }
}