.logo{
	width: 30%;
	height: 30%;
}
.text{
	font-size: 30px;
	padding-left: 270px;
    color: white;
    padding-top: 15px;
    }
.cartt{
	margin-left: 200px;
    padding-top: 17px;
}
.containerr{
	padding-top: 10px;
    background-color: #1976D2;

}
.product-container-parent{
    margin-left: 40px;
}
.product-container{
	border: 2px solid grey;
	text-align: center;
	margin-bottom: 30px;
}
.product-container{
	height: 290px;
}
.imgg{
	padding: 30px 0 20px 0;
}
.pagination{
	padding-left: 40px;
}
body{
	overflow-x: hidden;
}
header{
}
 .Table
    {
        display: table;
    }
    .Heading
    {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }
    .Row
    {
        display: table-row;
    }
    .Cell
    {
        display: table-cell;
        border: solid;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
    }
    #address{
    	height: 100px;
    	text-align: top;
    }
    .modal-title{
    	text-align: center;
    }
    .tble{
    	width: 550px;
    }
    .pay-button{
    	margin-left: 30px;
    }
    .order-place{
    	text-align: center;
    }
    .order-place{
    	margin-top: 50px;
    	margin-bottom: 50px;
    }
    .search-box-conatiner{
        margin-top: 10px;
    }
    .search-sell-button{
        margin-top: 12px;
    }

.second-section{
	height: 50px;
	width: 1400px;
	margin-top: 0px;
}
.menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.page-content{
background: url("https://s-media-cache-ak0.pinimg.com/originals/02/e1/b8/02e1b8bd40491ceb35b42665b8385fc4.jpg");
background-size: cover;
height: 528px;
}
.page-heading{
    margin-top: 64px;
    text-align: center;
    font-size: 48px;
}
.page-description{
    margin-top: 48px;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: black;
    padding-left: 20%;
}

input[name=search ] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[name=search]:focus {
    width: 100%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.add{
	    width: 200px;
    margin-right: 199px;
}
.choose{
	margin: 20px 0px;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
      height: 500px;
  }

.img-carousel{
	margin-bottom: 30px;
    background: url("https://static.pexels.com/photos/195884/pexels-photo-195884.jpeg");
    margin-left: 0;
    margin-right: 0;
    width: 1300px;
}






@media(max-width: 414px){
	.text{
		text-align: center;
		font-size: 15px;
		padding-left: 15px;
	}
	body{
		overflow-x: hidden;
	}
	.cartt{
		margin-left: 30px;
		height: 21px;
	}
	.search-box{
		margin-top: 7px;
	}
}